.header_media{
  margin: auto;
  height:83vh;
  width: 100%;
}

.article_title {
  color: white;
  text-align: center;
  font-style: bold;
}

.article_subtitle {
  color: white;
  text-align: center;
  font-style: italic;
}

.article_info {
  display: flex;
  border-style: solid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:100%;
}

.article_image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid white;
}

.article_center {
  width: 100%;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_content {
  line-height: 1.8;
  font-size: 15px;

  figure {
    display:block;
    margin:auto;
    width: 80%;
    padding: 30px;

    figcaption {
      font-size: 12px;
      color: #808080;
      font-style: italic;
    }

    img {
      width: 100%;
    }
  }
}

.single_image {
  width: 80%;
  display:block;
  margin:auto;
  padding: 30px;
}
