.home {
  dd {
    margin-bottom: 15px;
  }
}
.parallax{
  margin: auto;
  height:83vh;
  div {
    text-align:center;
    display:table;
    width:100%;
  }
  h1 {
    color: #FFFFFF;
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-height: 3500px) and (min-height: 1920px){
  .banner {
    height:300px;
  }
}

@media all and (max-height: 1920px) and (min-height: 500px){
  .banner {
    height:300px;
  }
}

@media all and (max-height: 500px) and (min-height: 100px){
  .banner {
    height:150px;
  }
}

@media all and (max-height: 100px) and (min-height: 0px){
  .banner {
    height:50px;
  }
}

@media all and (max-height: 10px) and (min-height: 0px){
  .banner {
    height:0px;
  }
}

.background {
  position: absolute;
  height: 100%;
  opacity: 0.8;
  width: 100%;
}

// @media all and (max-height: 3500px) and (min-height: 1920px) {
//   .background {
//     height: 3500px;
//     opacity: 0.8;
//     width: auto;
//   }
// }
//
// @media all and (max-height: 1920px) and (min-height: 1000px) {
//   .background {
//     height: 1920px;
//     opacity: 0.8;
//     width: auto;
//   }
// }
//
// .black_background {
//   background-color:#000000;
// }
//
// @media all and (max-height: 1000px) and (min-height: 500px) {
//   .background {
//     height: 1000px;
//     opacity: 0.8;
//     width: auto;
//   }
// }

// @media all and (max-height: 500px) and (min-height: 0px) {
//   .background {
//     height: 1000px;
//     opacity: 0.8;
//     width: auto;
//   }
// }

.image_container {
  height: 70vh;
  background-image: url('http://i.imgur.com/H1Xhggc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
